services:
  whitelist-bot:
    build:
      context: .
      target: local
    env_file:
      - .env
    volumes:
      - .:/src/app
    # ports:
    #   - "8000:8080"
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:18.1-bookworm
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=app
      - POSTGRES_DB=app
    volumes:
      - postgres-data:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  nats:
    image: nats:2.12.1
    container_name: nats
    command: ["-c", "/etc/nats/nats.conf"]
    environment:
      - NATS_URL=nats://nats:4222
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - ./nats.conf:/etc/nats/nats.conf:ro
      - nats-data:/data/jetstream

volumes:
  postgres-data:
    driver: local
  nats-data:
    driver: local
